apiVersion: v1
kind: Service
metadata:
  name: neo4j
  namespace: ukodus
  labels:
    app: neo4j
spec:
  type: ClusterIP
  selector:
    app: neo4j
  ports:
    - port: 7474
      targetPort: 7474
      name: http
      protocol: TCP
    - port: 7687
      targetPort: 7687
      name: bolt
      protocol: TCP
